.alert {
  width: 50%;
  padding: 10px;
  position: fixed;
  border-radius: 5px;
  box-shadow: 0 0 10px 5px #0404045e;
  z-index: 2;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
}

.alert h3 {
  font-size: 18px;
  margin-left: 20px;
  color: #000000a6;
}

.close-a {
  position: absolute;
  width: 30px;
  height: 30px;
  opacity: 0.5;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
  right: 15px;
  top: 25px;
  text-align: center;
  font-size: 1.6em;
  cursor: pointer;
  align-items: center;
  display: flex;
}

.danger-alert {
  background-color: #f78d88;
  border-left: 10px solid #fc645c;
}

.danger-alert .close-a {
  border-color: #ff0d00;
  color: #ff0d00;
}

.danger-alert h3 {
  color: #804141;
}

.success-alert {
  background-color: #93ffc0;
  border-left: 10px solid #55f798;
}

.success-alert .close-a {
  border-color: #00d558;
  color: #00db5b;
}

.sucess-alert h3 {
  color: #1b583fd1;
}

.warning-alert {
  background-color: #ffd48a;
  border-left: 10px solid #ffc258;
}

.warning-alert .close-a {
  border-color: #ffc258;
  color: #ffc258;
}

.warning-alert h3 {
  color: #80560d;
}

.fade-in {
  animation: fadeIn ease 0.4s;
  -webkit-animation: fadeIn ease 0.4s;
  -moz-animation: fadeIn ease 0.4s;
  -o-animation: fadeIn ease 0.4s;
  -ms-animation: fadeIn ease 0.4s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-out {
  animation: fadeOut ease 2s;
  -webkit-animation: fadeOut ease 2s;
  -moz-animation: fadeOut ease 2s;
  -o-animation: fadeOut ease 2s;
  -ms-animation: fadeOut ease 2s;
}

@keyframes fadeOut {
  0% {
    left: 0;
    opacity: 1;
  }
  50% {
    
    opacity: 0;
  }
  100% {
    left: 100%;
  }
}

@-moz-keyframes fadeOut {
  0% {
    left: 0;
    opacity: 1;
  }
  
  50% {
  
    opacity: 0;
  }
  
  100% {
    left: 100%;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    left: 0;
    opacity: 1;
  }
  
  50% {
  
    opacity: 0;
  }
  
  100% {
    left: 100%;
  }
}

@-o-keyframes fadeOut {
  0% {
    left: 0;
    opacity: 1;
  }
  
  50% {
  
    opacity: 0;
  }
  
  100% {
    left: 100%;
  }
}

@-ms-keyframes fadeOut {
  0% {
    left: 0;
    opacity: 1;
  }
  
  50% {
  
    opacity: 0;
  }
  
  100% {
    left: 100%;
  }
}
